.image-height {
  width: 1296px;
  height: 680px;
}
.slider-text {
  display: flex;
  flex-direction: column;
  padding: 124px 214px;
  margin-bottom: 50px;
}
.slider-text h1 {
  font-weight: 600;
  font-size: 65px;
  line-height: 85px;
}
.slider-text p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.slider-button {
  width: 182px;
  height: 56px;
}
.join-section {
  margin-top: 100px;
  padding: 40px;
  border-radius: 10px;
}
.join-color {
  background-color: #289bde;
  color: white;
}
.join-button {
  background-color: white;
  color: #289bde;
  font-size: 20px;
  margin-top: 9px;
  padding: 8px 13px;
  border: none;
  border-radius: 5px;
}
